@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');  
  
  
  /* *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "kristi", cursive;
}
html{
    font-size: 62.5%;
}
.main_header{
    width:100vw;
    height:100vh;
    background-color: hsl(0,0%,94%);
    display: grid;
    place-items: center;

}
.center_div{
    width: 50vw;
    height: 40vh;
    color: #000;
    text-shadow: 0 0 2rem rgba(0,0,0,0.5);
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

} */
body{
  background-image: url(
'./background3.jpg');


background-color: #cccccc;
height: 800px;
background-position: center;
background-repeat: no-repeat; 
/* background-size: cover; */
margin-top: -100px;
/* opacity: 0.; */
           
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kristi", cursive;
  }

  html {
    font-size: 12.5%;
  }

  .main_header {
    width: 100vw;
    height: 50vh;
    /* background-color: hsl(0, 0%, 94%); */
    background-image:  url(
'');
    display: grid;
    place-items: center;
  }

  .center_div {
    min-width: 50vw;
    height: 40vh;
    color: rgb(250, 241, 241);
    text-shadow: 0 0 3rem rgba(0, 0, 0, 0.9);
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align:center;
  }

@media (max-width: 768px) {
    html {
      font-size: 35%;
    }
  }



  /* slider code */

  .wrapper{
    position: relative;
    width: 320px;
    margin: 150px auto;
    perspective: 1000px;
    margin-bottom: 500px;

    
}
.img_area{
    position: absolute;
    position: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(-360deg) translateZ(-300px);
    animation: animate 25s steps(1000, end) infinite;

    
}
.single_img{
    position: absolute;  
    width: 300px;  
    height: 200px;
    top: 10px;
    left: 10px;

}
.single_img img{
    width: 300px;
    height: 200px;
    border: 5px solid #fff;
}
.single_img.img_one{
    transform: rotateY(0deg) translateZ(300px);
}
.single_img.img_two{
    transform: rotateY(60deg) translateZ(300px);
}
.single_img.img_three{
    transform: rotateY(120deg) translateZ(300px);
}
.single_img.img_four{
    transform: rotateY(180deg) translateZ(300px);
}
.single_img.img_five{
    transform: rotateY(240deg) translateZ(300px);
}
.single_img.img_six{
    transform: rotateY(300deg) translateZ(300px);
}
/* img{
    filter: grayscale(90%);
    transition: 1s;
    cursor: pointer;
} */
/* img:hover{
    transition: 1s;
    filter: grayscale(0);

} */
@keyframes animate{
    from{
        transform: rotateY(-360deg);
    }
    to{
        transform: rotateY(0deg);
    }
}